


.social-nav {
    width: 231px;
    height: 41px;
    display: flex;
    padding: 0;
  
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .social-nav li {
    width: 41px;
    height: 41px;
    background-color: #D7D7D7;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 7px;
    justify-content: center;
  }
  
  .social-nav li:hover {
    background-color: #516FAD;
  }


  .social-image {
    display: flex;
    justify-content: center;
  }