header {
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    justify-content: space-around;
    border-bottom: 3px solid white;
}


.nav-bar-container {
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    height: 3rem;
}

.head-logo {
    font-size: 3rem;
    padding: 0;
    font-family: 'Bangers', cursive;
    color: #09f;
}

.head-logo:hover {
    color: #6c3;
    text-shadow: 0px 0px 30px #09f;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.nav-bar {
    flex-direction: row;
    font-size: 1.5rem;
    width: 50%;
    margin: 0;
}

.nav-bar li {
    background-color: rgba(255, 255, 255, .6);
    width: 50%;
    align-items: center;
    justify-content: center;
}

.nav-bar li:first-child {
    border-radius: 50px 0 0 0px;
}

.nav-bar li:hover {
    background-color: rgba(255, 255, 255);
    color: #6c3;
}

.nav-bar li:not(first-child) {
    border-left: 1px solid gray;
}

.my-memes {
    font-size: 1rem;
}

.about-link {
    text-align: center;
}


.toggle-menu-btn {
    position: fixed;
    top: 0;
    right: 0;
    outline: none;
    font-size: 2.2em;
    width: 12%;
    border: none;
    display: none;
    height: 3rem;
}

.toggle-menu-btn,
.nav-btns {
    background-color: #09f;
    color: #fff;

}




@media (max-width: 888px) {
    .toggle-menu-btn {
        display: inline-block;
    }

    .nav-bar {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 3rem;
        width: 12%;
        /* transform: translateY(-200%);
        transition: transform .6s; */
        z-index: 10;
        display:none;

    }

    .nav-bar li {
        width: 100%;
        border: 1px solid silver;
        background-color: #09f;
        color: white;
        font-size: 1rem;
        height:35px;


    }

    .nav-bar li:hover {
        color: #09f;
    }

    .nav-bar li:first-child {
        border-radius: 0;
    }

    .nav-bar li:last-child {
        border-radius: 0 0 0 50px;
        padding-bottom: 10px;
    }

    .nav-bar li>*:not(:last-child) {
        border-bottom: 1px solid #000;
    }

    .nav-bar li>* {
        width: 100%;
    }

    .head-logo {
        font-size: 2rem;
        width: 100%;
        margin-top: 10px;
    }
}




@media (max-width: 600px) {
    .nav-bar li {
        font-size: 1rem;

    }
}