.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.margin-auto {
    margin: 0 auto;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.space-between {
    justify-content: space-between;
}