.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.margin-auto {
    margin: 0 auto;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.space-between {
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.show {
    transform: translateY(0);
}