@import "helpers.css";
@import "header.css";
@import "search&filter.css";
@import "footer.css";
@import "meme-editor.css";
@import "background.css";
@import "fonts.css";


* {
    box-sizing: border-box;
}

body {
    user-select: none;
    color: white;
    font-family: 'RocknRoll One', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}



.close-modal {
    font-size: 5rem;
    position: absolute;
    left: 0;
    color: white;
    display: none;
}

.gallery-container {
    width: 75%;
    gap: 5px;
    grid-template-columns: repeat(auto-fill, 175px);
    display: grid;
    background: linear-gradient(145deg, white, white, grey, silver);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.meme-img {
    width: 175px;
    height: 175px;
    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
}

.meme-img :hover {
    border: 3px solid white;
}

.img-card {
    width: 100%;
    border-radius: 10px;
}

.canvas-container {
    width: 60%;
    margin: 0;
    background: linear-gradient(-145deg, white, white, grey, silver);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
}

#meme-canvas {
    border: 1px solid;
    display: block;
    border-radius: 20px;
    width: 100%;
    
}

@media (max-width: 880px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fill, 125px);
        justify-content: space-around;
    }
    .close-modal {
        font-size: 3rem;
    }
    .img-card {
        width: 100%;
        border-radius: 10px;
    }

    .meme-img {
        width: 125px;
        height: 125px;
        border: 1px solid white;
        border-radius: 10px;
    }
}



@media (max-width: 880px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fill, 125px);
        justify-content: space-around;
    }
    .close-modal {
        font-size: 3rem;
    }
    .img-card {
        width: 100%;
        border-radius: 10px;
    }

    .meme-img {
        width: 125px;
        height: 125px;
        border: 1px solid white;
        border-radius: 10px;
    }
}