.meme-editor-container {
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    color: gray;
    display: none;
}

.control-panel-container {
    background: linear-gradient(145deg, white, white, grey, silver);
    width: 38%;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 20px;
}

.editor-container {
    background-color: white;
    flex-direction: column;
    font-size: 3rem;
    width: 96%;
    border: none;
    border-radius: 20px;
}


.editor-container * {
    margin-bottom: 2px;
}

.editor-container button {
    background-color: rgb(255, 255, 255);
    border: 1px solid silver;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 3rem;
    height: 70px;
}

.editor-container button:last-child {
    border-right: none;
}

.editor-container button:first-child {
    border-left: none;
}

.editor-container button:hover {
    background-color: rgba(0, 153, 255, .8);
    color: white;
}

.text-line {
    font-size: 3rem;
    direction: rtl;
    padding: 10px;
    direction: rtl;
    border-radius: 20px 20px 0 0;
    border: none;
    outline: none;
}

.text-line-btns-container button {
    width: 100%;
    font-size: 1.5rem;
}

.text-line-btns-image {
    width: 30px;
    padding: 5px;
}

.font-manipulation-container>* {
    padding-left: 5px;
}

.font-direction-input:last-child {
    padding-right: 5px;
}

.font-direction-input form * {
    width: 380px;
}

select {
    width: 50%;
}

input:not(:first-child) {
    border: 1px solid white;
    width: 50%;
    height:30px;
    margin-top: 10px;
}

.stickers-container {
    background-color: rgba(192, 192, 192, .4);
    font-size: 3rem;
    color: red;
    border-radius: 50px;
    justify-content: space-around;
    margin-bottom: 5px;
}

.sticker:hover {
    text-shadow: 0px 0px 30px #09f;
}

.social-container button {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: grey;
    margin-bottom: 0;
}

.share-container button {
    align-items: center;
    justify-content: space-around;
    width: 150%;
    border: none;
    border-top: 1px solid silver;
    border-radius: 0 0 20px 20px;
    color: gray;
    margin: 0;
    font-size: 3rem;
}

.share-msg{
    font-size:1rem;
}

@media (max-width: 2450px) {
    .editor-container {
        font-size: 2.5rem;
        width: 96%;
    }
}
@media (max-width: 2100px) {
    .editor-container {
        font-size: 1.5rem;
        width: 96%;
    }
    .font-direction-input form * {
        width: 280px;
    }
    .text-line {
        font-size: 1.5rem;
   
    }
}


@media (max-width: 1450px) {
    .editor-container {
        font-size: 1.5rem;
        width: 96%;
        font-size: 1rem;
    }
    .font-direction-input form * {
        width: 180px;
    }
    select {
        width: 50%;
    }
 
    .editor-container button {
        font-size: 1.5rem;
        height: 50px;
    }
    .stickers-container{
        font-size: 2rem;
    }
   

}

@media (max-width: 1050px) {
    .editor-container {
        font-size: .9rem;
        width: 96%;
    }

    .font-direction-input form * {
        width: 200%;
    }

    .editor-container button {
        font-size: 1rem;
        height: 40px;
    }

    .control-panel-container {
        margin-top: 10px;
    }
    .share-msg{
        font-size:.7rem;
    }
}

@media (max-width: 800px) {

    .editor-container {
        font-size: .5rem;
        width: 96%;
    }

    .font-direction-input form * {
        width: 90%;
    }

    .editor-container button {
        font-size: .5rem;
        height: 30px;
    }

    .editor-container img {
        width: 20px;
    }

    .text-line {
        font-size: .7rem;
        height: 20px;
    }

    input:last-child {
        height: 20px;
    }

    select {
        font-size: .6rem;
        width: 80%;
    }

    .editor-container button {
        font-size: .7rem;
        height: 30px;
    }
    .stickers-container {
        font-size:1.5rem;
    }

}

@media (max-width: 450px) {

    .meme-editor-container {
        flex-direction: column;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        color: gray;
    }

    .control-panel-container {
        width: 60%;
    }

}