.meme-editor-container {
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.control-panel-container {
    background: linear-gradient(145deg, white, white, grey, silver);
    width: 38%;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 20px;
}

.editor-container {
    background-color: white;
    flex-direction: column;
    font-size: 1rem;
    width: 96%;
    border: none;
    border-radius: 20px;
}

.editor-container * {
 margin-bottom:2px;
}

.editor-container button {
    background-color: rgb(255, 255, 255);
    border: 1px solid silver;
    min-height: 50px;
    min-width: 50px;
    font-family: 'RocknRoll One', sans-serif;
}

.editor-container button:last-child {
    border-right: none;
}

.editor-container button:first-child {
    border-left: none;
}

.editor-container button:hover {
    background-color: rgba(0, 153, 255, .8);
    color: white;
}

.text-line {
    font-size: 1rem;
    direction: rtl;
    padding: 10px;
    direction: rtl;
    border-radius: 20px 20px 0 0;
    border: none;
    outline: none;
}

.text-line-btns-container button {
    width: 100%;
    font-size: 20px;
}

.text-line-btns-image {
    width: 30px;
    padding: 5px;
}

.font-manipulation-container > * {
    padding-left: 5px;  
}

.font-direction-input:last-child{
padding-right: 5px;
}

.font-direction-input form *{
    width: 200px;
    display: flex;
}





input:not(:first-child) {
    border: 1px solid white;
    width: 50%;
}


.stickers-container {
    background-color: rgba(192, 192, 192, .4);
    font-size: 2rem;
    color: red;
    border-radius: 50px;
    justify-content: space-around;
}

.social-container {
    width: 100%;
    display: flex;

}

.share-container {
    /* background-color: blue; */
    width: 100%;
    display: flex;
}




.social-container button {
    /* font-family: 'RocknRoll One', sans-serif; */
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: grey;
}

.share-container button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150%;
    border: none;
    border-top: 1px solid silver;
    border-radius: 0 0 20px 20px;
    color: gray;
    margin-bottom:none;
}