.search-container {
    width: 75%;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 0 0 50px 50px;
    margin-bottom: 15px;
    font-size: 2rem;
    max-height:70px;
    height:70px;
    
}

/* .filter-dropdown {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    width: 150px;
    justify-items: center; */
}

/* .filter-dropdown:hover,
.filter-dropdown:focus {
    background-color: #3e8e41;
} */

.filter-input {
    font-size: 1rem;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 150px;
}

.search-word-dropdown{
    width:100%;
}

.search-word-dropdown input {
    display: flex;
    border-radius: 0 0 50px 35px;
    font-size: 1rem;
    border: none;
    width: 150px;
    outline: none;
}



.filter-input:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}



.search-filters ul {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search-filters li {
    width:80%;
    text-align: center;
    margin:0;
    padding: 0;
    /* font-size:1rem; */
}


.search-filters li:hover {
    color: #09f;
    text-shadow: 0px 0px 30px #09f;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}



.filter-fight {
    font-size: 2rem;
}
.filter-sex {
    font-size: 1rem;
}
.filter-funny {
    font-size: 1.7rem;
}
.filter-crazy {
    font-size: 1.2rem;
}
.filter-stupid {
    font-size: 1rem;
}
.filter-other {
    font-size: 0.5rem;
}