


.search-container {
    width: 75%;
    background-color: gold;
    height: 100px;
    display:none;
}

.filter-dropdown {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    width: 150px;
    justify-items: center;
}

.filter-dropdown:hover,
.filter-dropdown:focus {
    background-color: #3e8e41;
}

.filter-input {
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 150px;
}

.filter-input:focus {
    outline: 3px solid #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    width: 150px;
    text-align: center;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.search-filters {
    width: 80%;
    justify-content: space-around;
    line-height: 50px;
}
